<p>details works!</p>
<table>
  <thead>
    <tr>
      <ng-container
        *ngTemplateOutlet="headerDetail || defaultHeaderTemplate"
      ></ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <ng-container
        *ngTemplateOutlet="
          rowsDetail || defaultRowTemplate;
          context: { $implicit: row }
        "
      ></ng-container>
    </tr>
  </tbody>
</table>

<!-- Template by default-->
<ng-template #defaultHeaderTemplate>
  Header Details, ca fonctionne pas
</ng-template>

<ng-template #defaultRowTemplate> Row Details, ca fonctionne pas </ng-template>
