<p>dunning-list works!</p>
<app-card [data]="dunnings">
  <ng-template #card let-card>
    <section class="head">
      <div class="code">{{ card.code }}</div>
      <div class="adress">{{ card.adress }}</div>
    </section>

    <section class="body">
      <div class="company">{{ card.company }}</div>
      <div class="levelDunning">{{ card.level }}</div>
      <div class="invoiceUnpaidCount">{{ card.invoiceUnpaidCount }}</div>
      <div class="amountDunning">{{ card.amountDunning }}</div>
    </section>

    <button type="button" class="chevrons">BUTTON</button>
    <app-details [data]="card.details">
      <ng-template #headerDetail>
        <th></th>
        <th>Facture</th>
        <th>Date</th>
        <th>Montant</th>
        <th>Restant du</th>
      </ng-template>
      <ng-template #rowsDetail let-row>
        <td></td>
        <td>{{ row.invoiceNumber }}</td>
        <td>{{ row.date }}</td>
        <td>{{ row.amount }}</td>
        <td>{{ row.rest }}</td>
      </ng-template>
    </app-details>
  </ng-template>
</app-card>
